<!-- <ion-list class="ion-no-padding popoverList">
	<ion-item (click)="close('edit')" lines="none">
		<ion-icon slot="start" name="calculator-outline"></ion-icon>
		<ion-label>Edit Device</ion-label>
	</ion-item>
	<ion-item (click)="close('detail')" lines="none">
		<ion-icon slot="start" name="reader-outline"></ion-icon>
		<ion-label>View Detail Report</ion-label>
	</ion-item>
	<ion-item (click)="close('wifi')" lines="none">
		<ion-icon slot="start" name="reader-outline"></ion-icon>
		<ion-label>Change Wifi</ion-label>
	</ion-item>
</ion-list> -->

<ion-row class="popoverList">
	<ion-col class="ion-no-padding">
		<ion-item lines="none" (click)="close('edit')" class="ion-no-padding">
			<ion-icon name="phone-portrait"></ion-icon>
			
			<ion-label>
					<h2>Edit Device</h2>
					<p class="ion-text-wrap">Update price</p>
			</ion-label>
			
		</ion-item>
		<ion-item lines="none" (click)="close('detail')" class="ion-no-padding">
				<ion-icon name="calendar"></ion-icon>
			<ion-label>
					<h2>View Detail Report</h2>
					<p class="ion-text-wrap">Get monthly report</p>
			</ion-label>
			
		</ion-item>
		<ion-item lines="none" (click)="close('wifi')" class="ion-no-padding">
			<ion-icon name="wifi-sharp"></ion-icon>
			<ion-label>
					<h2>Change Wifi</h2>
					<p class="ion-text-wrap">Change your connection</p>
			</ion-label>
			
		</ion-item>
	</ion-col>
</ion-row>