<ion-content *ngIf="wifiResponse">
  <div class="gradientBg">
    <ion-header mode="md">
      <ion-toolbar color="transparent">
        <ion-title>Wifi List</ion-title>
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-card-content mode="md" class="borderCard ion-no-padding" style="margin-top:80px;">
    <ion-row class="popoverList">
      <ion-col size="12" class="ion-no-padding" *ngFor="let item of wifiResponse.LIST">
        <div (click)="change(item)" class="icon-set">
          <ion-icon name="wifi"></ion-icon>
          <span>{{item.Network}} <br> <small>connected</small></span>
         
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>