<ion-content>
	<div class="gradientBg">
		<ion-header mode="md" class="ion-no-padding">
			<ion-toolbar color="transparent">
				<ion-title class="cardheading">My Profile</ion-title>
				<ion-buttons slot="start">
					<ion-back-button color="light" defaultHref></ion-back-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
	</div>


	<ion-card-content class="borderCard" mode="md" style="margin-top: 80px;">

		<ion-item lines="none" class="ion-no-padding" color="transparent">
			<ion-input type="number" value="vaanija13@gmail.com" placeholder="Please update your email id" type="text"><ion-icon name="mail"></ion-icon> </ion-input>
		</ion-item>

		<ion-button type="submit" class="cardBtn" color="primary" expand="block">Update my email</ion-button>

	</ion-card-content>
</ion-content>