<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Edit Device</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content>
    <div class="gradientBg">
      <ion-header mode="md" class="ion-no-padding">
        <ion-toolbar color="transparent">
            <ion-title class="cardheading">Update Price</ion-title>
          <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>

    
	<ion-card-content class="borderCard" mode="md" style="margin-top: 80px;">
      
        <ion-item lines="none" class="ion-no-padding" color="transparent">
          <ion-label mode="md" position="stacked" class="inputlbl ion-text-wrap">Enter Updated Price as Per KwH</ion-label>
          <ion-input type="number" [(ngModel)]="rate" placeholder="Enter price as per KwH" type="text"><span class="icon"> &#8377; </span></ion-input>
        </ion-item>
        <ion-button type="submit" (click)="submit()" class="cardBtn" color="primary" expand="block">Submit</ion-button>
  
    </ion-card-content>
  </ion-content>
  
<!-- 
  
<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-note>Enter Price as Per KwH</ion-note>
  </div>
  <ion-item>
    <ion-label position="floating">Update Rate</ion-label>
    <ion-input type="number" [(ngModel)]="rate"> Rs.</ion-input>
  </ion-item>

  <div class="ion-text-center" style="margin-top: 10%;">
    <ion-button (click)="submit()" style="width: 50%"> Submit </ion-button>
  </div>
</ion-content> -->
