<!-- <ion-header>
  <ion-toolbar >
    <ion-title>Scan Qr</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-text-center">


  <div style="margin-top: 50%;">
    <div>
      <ion-icon slot="start" (click)="scan()" color="primary" style="zoom: 350%;" name="scan-outline"></ion-icon>
    </div>
    <ion-button (click)="scan()" style="width: 50%;margin-top: 10%;" shape="round">
      Scan Code
    </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">

  <ion-button (click)="home()" expand="block">
    Go to Homepage
  </ion-button>
</ion-footer>