<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Filter</ion-title>
    <ion-buttons slot="end">
     
     
      <ion-button style="zoom: 130%" (click)="close()">
        <ion-icon color="danger" name="close-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-item  lines="none" style="background-color: white;margin-top: 5%;">
    <ion-label position="floating">Start Date</ion-label>
    <ion-datetime displayFormat="MMM YYYY" pickerFormat="MMM YYYY" [(ngModel)]="startDate"></ion-datetime>
  </ion-item>

  <ion-item  lines="none">
    <ion-label position="floating">End Date</ion-label>
    <ion-datetime displayFormat="MMM YYYY" pickerFormat="MMM YYYY" [(ngModel)]="endDate"></ion-datetime>
  </ion-item>

  <ion-row>
    <ion-col size="6">
      <ion-button (click)="close()" style="text-transform: none;"  color="danger" expand="block" >
        Cancel
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="filter()" style="text-transform: none;" expand="block" >
        Submit
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
