<ion-app>
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="push">
        <ion-content>
          <!-- <div class="gradientBg"></div> -->
          <div class="header-content">
            <ion-label (click)="closeMenu()">
              <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
            </ion-label>
            <ion-item lines="none" color="transparent" class="ion-margin-vertical walletcard">
              <ion-avatar slot="start">
                <img src="assets/img/darkicons/account.svg" alt="User Profile Picture" />
              </ion-avatar>
              <ion-label class="user" *ngIf="!service.isUser">Owner
                <br />
                <small>{{ this.service.mobileNumber}}</small>
              </ion-label>

              <ion-label class="user" *ngIf="service.isUser">User
                <br />
                <small>{{ this.service.mobileNumber}}</small>
              </ion-label>

            </ion-item>
          </div>
  
          <ion-list lines="none" class="menu-item" color="transparent">
            <!-- <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/contacts" detail="false">
                <ion-icon slot="start" name="wallet-outline"></ion-icon>
  
                Wallet
              </ion-item>
            </ion-menu-toggle> -->
  
            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/tabs/charging" detail="false" color="transparent">
                <!-- <img src="assets\img\darkicons\charge.svg" alt="Charger Icon" /> -->
                <span>Charging Information</span>
              </ion-item>
            </ion-menu-toggle>
  
            <ion-menu-toggle autoHide="false" *ngIf="!service.isUser">
              <ion-item routerLink="/tabs/device" detail="false" color="transparent">
                <!-- <img src="assets\img\darkicons\mydevice.svg" alt="My Device Icon" /> -->
                <span>My Devices</span>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/my-profile" detail="false" color="transparent">
                <!-- <img src="assets\img\darkicons\mydevice.svg" alt="My Device Icon" /> -->
                <span>My Profile</span>
              </ion-item>
            </ion-menu-toggle>
  
            <!-- <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/tabs/wallet" detail="false" color="transparent">
                <span>Host</span>
              </ion-item>
            </ion-menu-toggle> -->
            <ion-menu-toggle autoHide="false">
              <ion-item detail="false" color="transparent">
                 <!-- <img src="assets\img\darkicons\logout.svg" alt="Logout Icon" /> -->
                <span>Privacy Policy</span>
              </ion-item>
            </ion-menu-toggle>
            
            
  
          </ion-list>
          <ion-footer class="ion-padding-horizontal" mode="md">
            <ion-toolbar>
               
                    <ion-item (click)="logout()" detail="false" lines="none" class="ion-no-padding" color="transparent">
                       <ion-button color="light"><ion-icon name="log-out-outline"></ion-icon> &nbsp;Logout</ion-button>
      
                      <ion-label color="light" class="ion-text-right">Version 1.0</ion-label>
                    </ion-item>
            </ion-toolbar>
          </ion-footer>
          <!-- <ion-list lines="none" class="menu-item">
            <ion-list-header
              style="margin-left: 7%; zoom: 145%; font-weight: 600"
            >
              Account
            </ion-list-header>
  
            <ion-menu-toggle autoHide="false">
              <ion-item button (click)="logout()" detail="false">
                <ion-icon slot="start" name="log-out"></ion-icon>
  
                Logout
              </ion-item>
            </ion-menu-toggle>
          </ion-list> -->
        
        </ion-content>
      </ion-menu>
      
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  
  </ion-app>


  