// .card {
//     --background: #ffffff;
//     border-radius: 10px;
//     box-shadow: rgb(0 0 0 / 5%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
//       rgb(0 0 0 / 12%) 0px 1px 5px 0px;
//   }

//   .balance {
//     font-size: 17px;
//   }
//   .deviceicon {
//     margin-right: 15px;
//     background-color: #d8d8d8;
//     border-radius: 50%;
//     padding: 10px;
//   }
//   .amount {
//     font-size: 22px;
//     font-weight: 500;
//   }
//   .walletlefticon {
//     background-color: #d8d8d8;
//     border-radius: 50%;
//   }
//   .walletlefticon img {
//     padding: 5px;
//     height: 35px;
//   }
  
//   .walleticon img {
//     height: 65px;
//     opacity: 0.8;
//   }

//   .walletcard {
//     border-radius: 10px;
//     background-color: #6a981c;
//   }

//   .walleticon {
//     position: ABSOLUTE;
//     right: 15px;
//     top: 15px;
//   }

ion-item{
  --min-height:20px;
}
