<ion-content>
	<div class="gradientBg">

		<ion-header mode="md">
			<ion-toolbar color="transparent">
				<ion-title>Detail Reports</ion-title>
				<ion-buttons slot="start">
					<ion-back-button color="light" defaultHref></ion-back-button>
				</ion-buttons>
				<ion-buttons slot="end">
					<ion-button (click)="export()">
						<ion-icon color="light" name="share"></ion-icon>
					</ion-button>
					<ion-button (click)="openDate()">
						<ion-icon color="light" name="calendar"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
	</div>
	<ion-datetime #dateTime style="display:none" (ionChange)="selectDate($event.detail.value)" [max]='maxDate' displayFormat="DD MMM YYYY"
	 pickerFormat="MMM YYYY"></ion-datetime>

	<ion-card mode="md" class="walletcard ion-padding" style="margin-top:80px">
		<ion-row class="ion-justify-content-center">
			<ion-col size="3">
				<img src="assets/img/mydevice-white.svg" alt="Device">
			</ion-col>
			<ion-col size="9">
				<ion-card-header class="ion-no-padding">
					<ion-card-title color="light"> <strong>{{data.DeviceName}}</strong></ion-card-title>
					<ion-card-subtitle color="light">₹ {{service.totalPrice | currency: '':''}} for {{service.totalConsumption}} Watt</ion-card-subtitle>
					<ion-label color="light">Report For : {{month}}, {{year}} </ion-label>
				</ion-card-header>
			</ion-col>
		</ion-row>
	</ion-card>
	<!-- <ion-card class="walletcard" style="margin-top: 80px">
		<ion-card-header>
			<ion-card-title class="balance" style="color: white">Device Name : {{data.DeviceName}}</ion-card-title>
			<ion-card-title class="amount" style="color: white">
				Total : ₹ {{service.totalPrice | currency: '':''}}</ion-card-title>
			<ion-card-subtitle class="amount" style="color: white; font-size: 16px">
				Consumption : {{service.totalConsumption}} Watt</ion-card-subtitle>
			<ion-card-subtitle class="amount" style="color: white; font-size: 16px">
				Report For : Nov {{month}}, {{year}} </ion-card-subtitle>
		</ion-card-header>
	</ion-card> -->

	<ion-card-content mode="md" class="borderCard" *ngFor="let item of service.deviceReportArray">
		<ion-list class="transaction_history">
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/port.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label class="ion-no-margin">
					<p>Port Used - {{item.Port}}</p>
					<p>{{item.totalTime}}</p>
				</ion-label>
			</ion-item>
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
				</ion-thumbnail>
				<ion-label class="ion-no-margin">
					<ion-text color="success">₹ {{ item.PriceSet | currency: '':''}}</ion-text>
				</ion-label>
				<ion-label class="ion-text-right ion-no-margin">
					<ion-text color="dark">{{item.WhTotal}}Wh</ion-text>
				</ion-label>
			</ion-item>
			<ion-label>
				<small>{{item.EndDateTime | date}}</small>
			</ion-label>
		</ion-list>
	</ion-card-content>

	<!-- 
		<ion-card-content class="borderCard" *ngFor="let item of service.deviceReportArray">
			<ion-label>{{item.EndDateTime | date}}</ion-label>
			<ion-list class="transaction_history mydevices">
				<ion-item color="transparent" lines="none">
					<ion-thumbnail slot="start">
						<img src="assets/img/blueicons/port.svg" alt="Icon" />
					</ion-thumbnail>
					<ion-label>
						<h3>Port Used</h3>
						<p>{{item.Port}}</p>
					</ion-label>
				</ion-item>
				<ion-item color="transparent" lines="none">
					<ion-thumbnail slot="start">
						<img src="assets/img/blueicons/time.svg" alt="Icon" />
					</ion-thumbnail>
					<ion-label>
						<h3>Total Time</h3>
						<p>{{item.totalTime}}</p>
					</ion-label>
				</ion-item>
				<ion-item color="transparent" lines="none">
					<ion-thumbnail slot="start">
						<img src="assets/img/blueicons/usage.svg" alt="Icon" />
					</ion-thumbnail>
					<ion-label>
						<h3>Total Usage</h3>
						<p>
							<ion-text color="danger">{{item.WhTotal}}kWh</ion-text>
						</p>
					</ion-label>
				</ion-item>
				<ion-item color="transparent" lines="none">
					<ion-thumbnail slot="start">
						<img src="assets/img/blueicons/deposit.svg" alt="Icon" />
					</ion-thumbnail>
					<ion-label>
						<h3>Total Earning</h3>
						<p>
							<ion-text color="success">₹ {{ item.PriceSet | currency: '':''}}</ion-text>
						</p>
					</ion-label>
				</ion-item>
			</ion-list>
		</ion-card-content> -->

	<!-- 
		<ion-card *ngFor="let item of service.deviceReportArray">
			<ion-item lines="none" class="itemclass">
				<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/full-battery-svgrepo-com.svg">
				</ion-icon>
				:
			</ion-item>
			<ion-item lines="none" class="itemclass">
				<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/full-battery-svgrepo-com.svg">
				</ion-icon>
				:
			</ion-item>
			<ion-item lines="none" class="itemclass">
				<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/usage.svg">
				</ion-icon>
				:
			</ion-item>
			<ion-item lines="none" class="itemclass">
				<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/earning.svg">
				</ion-icon>
				:
			</ion-item>
			<ion-row>
				<ion-col size="6"></ion-col>
				<ion-col size="6" class="ion-text-right" style="color: var(--ion-color-primary); padding-right: 5%">
					{{item.EndDateTime | date}}
				</ion-col>
			</ion-row>
		</ion-card> -->

</ion-content>