<ion-content>
	<div class="gradientBg">
		<ion-header mode="md">
			<ion-toolbar color="transparent">
					<ion-buttons slot="start">
							<ion-menu-button color="light"></ion-menu-button>
						</ion-buttons>
				<ion-title>My Profile</ion-title>
			</ion-toolbar>
		</ion-header>
	</div>

	<ion-card mode="md" class="walletcard usercard" style="margin-top: 85px;">
		<div class="left-icon">
			<ion-avatar slot="start">
				<img src="assets/img/darkicons/account.svg" alt="User Profile Picture" />
			</ion-avatar>
		</div>
		<div class="right-data">
			<ion-label class="user">User
				<br />
				<small>{{this.service.mobileNumber}}</small>
			</ion-label>
		</div>
	</ion-card>
	<ion-card-content mode="md" class="borderCard">
			<ion-label class="cardheading ion-text-wrap">Become a part of the EV Revolution and host a charger</ion-label>
			<ion-list class="transaction_history">
					<ion-label color="primary" class="cardheading ion-text-wrap"><small>You can Install a charger in Your Place</small></ion-label>
				<div class="ion-text-center ion-margin">
					<ion-button color="success" size="small" routerLink='/add-charger' fill="solid">Install Now</ion-button>
				</div>
			</ion-list>
			
		</ion-card-content>

</ion-content>


<!-- 
<ion-header>
	<ion-toolbar>
		<ion-title>My Profile</ion-title>
	</ion-toolbar>
</ion-header> -->
<!-- 
<ion-content>


	<div style="margin-top: 5%">
		<ion-item lines="none" class="ion-text-center devicediv">
			<div class="userimg">
				<ion-thumbnail slot="start">
					<img style="border-radius: 50%" [src]="this.service.currentUser.imageUrl" />
				</ion-thumbnail>
				<ion-label>{{this.service.currentUser.displayName}}</ion-label>
				<ion-label>{{this.service.currentUser.email}}</ion-label>
			</div>
		</ion-item>
	</div> -->


	<!-- <ion-card>
		<ion-card-header style="background-color: white;">
			<ion-card-subtitle>Become a part of the Ev Revolution and host a charger</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content style="background-color: white;">
			<ion-row>
				<ion-col size="12">
					<ion-card style="height: 90%;" routerLink='/add-charger'>
						<ion-card-header style="background-color: white;">
							<ion-card-subtitle class="ion-text-wrap">You can Install a charger in Your Place</ion-card-subtitle>
						</ion-card-header>
						<ion-card-content style="background-color: white;">
							<ion-button style="text-transform: none;">
								Install
							</ion-button>
						</ion-card-content>
					</ion-card>
				</ion-col>

				<ion-col size="6">
          <ion-card style="height: 90%;">
            <ion-card-header style="background-color: white;">
              <ion-card-subtitle class="ion-text-wrap">You can Buy Own Charger & Install it.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="background-color: white;">
              <ion-button style="text-transform: none;">
                Buy Now
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col> 

			</ion-row>
		</ion-card-content>
	</ion-card>


</ion-content>-->