/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Montserrat-Black", sans-serif;
  src: url("assets/fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat-Bold", sans-serif;
  src: url("assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold", sans-serif;
  src: url("assets/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular", sans-serif;
  src: url("assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Light", sans-serif;
  src: url("assets/fonts/Montserrat-Light.ttf");
}

// @font-face {
//     font-family: 'Product Sans';
//     font-style: normal;
//     font-weight: 400;
//     src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
//   }

* {
  // font-family: Product Sans !important;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}
body {
  color: #1c1c1c;
  font-size: 16px;
}
ion-content {
  --ion-background-color: #f2f2f2;
  --padding-bottom: 30px;
}
.my-custom-modal-css .modal-wrapper {
  height: 80%;
  top: 20%;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}
.my-custom-modal-cssforDevice .modal-wrapper {
  width: 96%;
  height: 200px;
  position: absolute;
  border-radius: 5px;
  max-height: 100%;
  top: 68%;
}
.my-custom-modal-cssforTransaction .modal-wrapper {
  width: 90%;
  position: absolute;
  height: 345px;
  border-radius: 30px !important ;
}
.my-custom-modal-cssforReports .modal-wrapper {
  height: 40%;
  top: 30%;
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 30%;
  position: absolute;
  border-radius: 20px;
  display: block;
}

// Vanija Css
ion-button {
  text-transform: initial;
}
.error {
  color: var(--ion-color-danger);
}
.heading {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
}
.cardheading {
  padding: 10px 0 5px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1 !important;
}
.logo {
  margin: 10px 0 20px 0;
}
.gradientBg {
  background: linear-gradient(to bottom, #8fc522, #04a314);
  height: 350px;
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.gradientBgg {
  // background: linear-gradient(to bottom, #8fc522, #04a314);
  height: 350px;
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.shadowCard {
  background: #fff;
  border-radius: 10px;
  position: absolute;
  padding: 20px;
  box-shadow: 0 0 30px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 0 0 30px rgb(0 0 0 / 40%);
  -moz-box-shadow: 0 0 30px rgb(0 0 0 / 40%);
}
.centerCard {
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}
.lbl {
  font-size: 15px;
  opacity: 0.7;
}
.val {
  font-weight: 600;
}
// form inputs
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  .item-inner {
    padding-inline-end: 0;
  }
  ion-label.inputlbl {
    transform: translateY(50%) scale(1.2) !important;
    -webkit-transform: translateY(50%) scale(1.2) !important;
    -moz-transform: translateY(50%) scale(1.2) !important;
  }
  ion-input {
    border: 1px solid #d8d8d8;
    background: #f7f7f7 !important;
    width: 100% !important;
    margin-top: 20px;
    --padding-start: 10px !important;
  }
}
ion-button.height {
  height: 45px;
  --border-radius: 10px;
}
.bottomToolbar {
  ion-tab-button {
    img {
      width: 26px;
    }
    span {
      margin-top: 3px;
      color: var(--ion-color-dark);
      font-size: 14px;
    }
  }
  ion-tab-bar {
    height: 68px;
    padding-top: 0;
    padding-bottom: 5px;
    border: 0;
  }
  ion-tab-button.tab-selected span {
    font-weight: 600;
    color: var(--ion-color-dark);
  }
  ion-tab-button.tab-selected span:after {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 5px;
    height: 5px;
    background: var(--ion-color-success);
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
  }
}
ion-menu-toggle {
  ion-item {
    padding: 0 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    img {
      width: 32px;
      margin-right: 15px;
      opacity: 0.8;
    }
    span {
      font-size: 20px;
      color: #1c1c1c;
    }
  }
}

.header-content{
  height:200px;
  ion-item{padding: 0;width: 90%;margin: 25px auto;--border-radius:15px;}
  ion-avatar{width: 60px;height: 60px;margin: 15px 8px;background:#f1f1f1;}
    img{filter:grayscale(1) brightness(1.3);width: 45px;height: 45px; margin: 8px;}
    .user{font-size: 26px;line-height: 30px;color: #fff;font-weight: 500;}
}
.usercard {
  padding: 16px;
  .left-icon,
  .right-data {
    display: inline-block;
    vertical-align: middle;
  }
  .left-icon {
    width: 60px;
    background: #f1f1f1;
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    ion-avatar {
      width: 45px;
      margin: 8px;
      height: 45px;
      img {
        filter: grayscale(1) brightness(1.3);
      }
    }
  }
  .right-data {
    ion-label {
      font-size: 22px;
      line-height: 30px;
      color: #fff;
      font-weight: 700;
    }
  }
}
.menu-item {
  background: transparent;
}
ion-slides .swiper-pagination-bullet-active {
  background: var(--ion-color-success) !important;
}
.swiper-pagination-bullet {
  background: var(--ion-color-dark);
  opacity: 1;
}
ion-toolbar ion-title {
  color: #fff;
  font-weight: 600;
}
.walletcard {
  background: url(assets/img/userblockbg.png);
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  
  &:after {
    content: "";
    background: linear-gradient(45deg, #007fc51c, #007fc552);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

  ion-card-content ion-label {
    font-size: 24px;
    font-weight: 600;
    word-break: break-all;
    line-height: 24px;
  }
}
ion-button.ion-color-warning {
  color: #fff;
  --ion-color-contrast: #fff !important;
}
.header-md::after {
  background: none;
}
.borderCard {
  background: #fff;
  border-radius: 10px;
  margin: 15px auto 0;
  width: 90%;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.transaction_history {
  background: transparent;
  padding: 0;
  + .transaction_history {
    border-top: 2px solid #f7f7f7;
  }
  ion-item {
    .income {
      color: var(--ion-color-primary);
    }
    .expense {
      color: var(--ion-color-success);
    }
    .income,
    .expense {
      font-size: 22px;
      font-weight: 700;
    }
    ion-thumbnail {
      width: 30px;
      height: 30px;
      margin: 0 15px 0 0;
    }
    ion-label h3 {
      font-size: 20px;
    }
    ion-label p {
      font-size: 15px;
      opacity: 0.7;
    }
  }
}
.mydevices {
  ion-item + ion-item {
    border-top: 2px solid #f7f7f7;
  }
}
.popoverList {
  padding: 10px 0;
  ion-item{
    --inner-padding-end:16px;
  }
  ion-icon {
    font-size: 20px;
    background: #cae9fb;
    padding: 7px;
    margin: 0 10px 0 15px;
    color: var(--ion-color-primary);
    border-radius: 5px;
  }
  ion-label{
    margin: 5px 0;
    h2{
      color: var(--ion-color-primary);
      font-size: 16px;
    }
    p{
      opacity: 0.6;
      font-size: 12px;
    line-height: 15px;
    }
  }
  .icon-set {
    display: block;
    padding: 5px 0;
    span,
    ion-icon {
      display: inline-block;
      vertical-align: middle;
      
    }
  }
}
.btnWarning {
  background: var(--ion-color-success) !important;
  color: #fff !important;
  padding-inline-start: 20px !important;
  padding-inline-end: 20px !important;
}
.alertsHeading {
  .alert-input-group {
    padding-top: 0;
  }
}
.alert-head {
  background: var(--ion-color-primary);
  padding: 10px 16px !important;
  margin-bottom: 16px;
  h2 {
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 700 !important;
  }
  .alert-message {
    padding-top: 16px !important;
  }

 
}
.my-custom-class{
  .alert-button-group button {
    padding: 4px 7px !important;
}

.alert-button-group {
    border-top: 2px solid #e0dbdb;
}
}
body .ios {
  ion-card-title {
    font-size: 22px;
  }
  .cardheading.ion-text-wrap.sc-ion-label-ios-h,
  .cardheading [text-wrap].sc-ion-label-ios-h {
    font-size: 20px;
  }
}
body.backdrop-no-scroll {
  background-color: #8fc522;
}
:host(.menu-type-push) .show-backdrop {
  background: transparent !important;
}
