// ion-content {
//   #map {
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     transition: opacity 150ms ease-in;
//     display: block;
//     &.show-map{
//       opacity: 1;
//     }
//   }
// }

// ion-toolbar {--ion-background-color:#ffffff; --ion-color-base: #ffffff!important;}

// ion-toolbar ion-title  { color: #1d1d1d !important; font-weight: 500;   }

// ion-menu-button {--background: #ffffff; }

// ion-buttons {color: #5d5d5d !important;}

ion-content{
    --padding-bottom: 0;
}