<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Homepage
    </ion-title> 
    <ion-buttons slot="end" *ngIf="!this.service.networkIsConnected">
      <ion-button color="danger"  expand="block" >
        No Internet
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->



<ion-content>

  <div class="gradientBgg">
		<ion-header mode="md">
			<ion-toolbar color="transparent">
          <ion-buttons slot="start">
              <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
			</ion-toolbar>
		</ion-header>
  </div>
  
<div id="map" style="width: 100%;height: 100%;">

</div>

</ion-content>
