<ion-content>
	<div class="gradientBg">
		<ion-header mode="md">
			<ion-toolbar color="transparent">
				<ion-buttons slot="start">
					<ion-menu-button color="light"></ion-menu-button>
				</ion-buttons>
				<ion-title class="ion-text-wrap"> Recent</ion-title>
				<!-- <ion-buttons slot="end"  class="ion-padding-end">
					<ion-button *ngIf="this.service.userBalance != 0" (click)="addMoney()"  fill="solid" size="small" color="light">
						Pay Dues
					</ion-button>
				</ion-buttons> -->
				<ion-buttons slot="end">
					<ion-button (click)="openDate()">
						<ion-icon color="light" name="calendar"></ion-icon>
						<!-- <ion-icon color="light" name="calender-clear"></ion-icon> -->
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
	</div>
	<!-- <ion-datetime #dateTime style="display:none"
  (ionChange)="selectDate($event.detail.value)"
  [max]='maxDate'
   displayFormat="DD MMM YYYY" pickerFormat="MMM YYYY" ></ion-datetime> -->

	<ion-datetime #dateTime style="display: none" (ionChange)="selectDate($event.detail.value)" [max]="maxDate"
		displayFormat="DD MMM YYYY" pickerFormat="MMM YYYY"></ion-datetime>

	<ion-card class="walletcard" mode="md" style="margin-top: 80px" *ngIf="this.service.userBalance">
		<ion-card-header>
			<ion-card-title color="light" class="balance">Outstanding due as on {{TodayDate | date}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-row class="ion-no-padding ion-align-items-center">
				<ion-col size="6" class="ion-no-padding">
					<ion-label class="amount" color="light">
						₹ {{this.service.userBalance | currency: '':''}}</ion-label>
				</ion-col>
				<ion-col size="6" class="ion-no-padding ion-text-right">
					<ion-button color="light" size="small" fill="solid" (click)="addMoney()">Pay Dues</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>

	<!-- <ion-card-content mode="md" class="borderCard"> -->
		<ion-card-content mode="md" class="borderCard">
		<ion-title mode="md" class="cardheading">Transaction History</ion-title>
		<ion-list class="ion-no-padding">
			<ion-item color="light" *ngIf="service.walletHistory" class="ion-no-padding" lines="none">
				No records found for selected month
			</ion-item>
		</ion-list>
		<ion-list class="transaction_history" *ngFor="let item of service.walletHistory">
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img [src]="item.price? 'assets/img/blueicons/charge.svg' : 'assets/img/blueicons/deposit.svg'"
						alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>{{item.price ? 'Charged' : 'Cleared Due'}}</h3>
					<p>{{item.StartDateTime | date}}</p>
				</ion-label>
				<ion-text slot="end" [ngClass]="item.price ? 'expense':'income'">
					₹ {{item.price ? item.price : '0'}}
				</ion-text>
			</ion-item>
		</ion-list>
		<!-- <ion-list class="transaction_history">
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/deposit.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Deposit</h3>
					<p>Aug 20, 2021</p>
				</ion-label>
				<ion-text slot="end" class="expense">
					+25,00
				</ion-text>
			</ion-item>
		</ion-list>
		<ion-list class="transaction_history">
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/charge.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Charged</h3>
					<p>Aug 19, 2021</p>
				</ion-label>
				<ion-text slot="end" class="income">
					-25,00
				</ion-text>
			</ion-item>
		</ion-list> -->
	</ion-card-content>

	<!-- <div style="margin-bottom: 20%;">
		<ion-card *ngFor="let his of service.walletHistory.LIST" class="card" mode="md">
			<ion-item lines="none" style=" --ion-item-background :background-color: #fff;">
				<ion-thumbnail slot="start" class="walletlefticon" style="padding: 2%;" *ngIf="his.info == 'Stopped'">
					<img src="../../assets/icon/charged-battery.png" />
				</ion-thumbnail>


				<ion-thumbnail slot="start" class="walletlefticon" style="padding: 2%;" *ngIf="his.info != 'Stopped'">
					<img src="../../assets/icon/walleticon.png" />
				</ion-thumbnail>
				<ion-label>
					<h3 class="ion-text-wrap" *ngIf="his.info != 'Stopped'">{{his.info}}</h3>
					<h3 class="ion-text-wrap" *ngIf="his.info == 'Stopped'">Charged</h3>
					<p>{{his.DateTime | date}}</p>
				</ion-label>
				<ion-note *ngIf="his.info != 'Stopped'" slot="end" style="font-weight: 500;zoom: 160%;color: var(--ion-color-primary);">
					+ ₹{{his.Amount}}</ion-note>
				<ion-note *ngIf="his.info == 'Stopped'" slot="end" style="font-weight: 500;zoom: 160%;color: var(--ion-color-danger);"> - ₹{{his.Rate}}</ion-note>
			</ion-item>
		</ion-card>

	</div> -->
</ion-content>