<ion-content *ngIf="this.service.networkIsConnected">
	<div class="gradientBg">
		<ion-header mode="md">
			<ion-toolbar color="transparent">
				<ion-buttons slot="start">
					<ion-menu-button color="light"></ion-menu-button>
				</ion-buttons>
				<ion-title>Charging Information</ion-title>
			</ion-toolbar>
		</ion-header>
	</div>

	<!-- <ion-card class="walletcard" style="margin-top: 80px;">
		<ion-card-header>
			<ion-card-title color="light" class="balance">Charging Information</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-row class="ion-no-padding ion-align-items-center">
				<ion-col size="6" class="ion-no-padding">
					<ion-label class="amount" color="light"><ion-thumbnail slot="start">
							<img src="../assets/icon/bettery.svg" />
						</ion-thumbnail></ion-label>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card> -->

	<ion-card class="borderCard" style="margin-top: 80px;" *ngIf="this.service.availableDevicessss.length == 0">
		<ion-card-header>
			<ion-card-title>Currently no charging session is linked to your account</ion-card-title>
		</ion-card-header>
	</ion-card>


	<ion-card-content style="margin-top: 20%;" class="borderCard" *ngFor="let dev of service.availableDevicessss;">
		<ion-row *ngIf="dev.CMD=='CONSUME'">
			<ion-col size="12">
				<div class="animation">
					<div class="item">
						<ion-icon name="flash"></ion-icon>
					</div>
					<div class="circle" style="animation-delay: 0s"></div>
					<div class="circle" style="animation-delay: 1s"></div>
					<div class="circle" style="animation-delay: 2s"></div>
					<div class="circle" style="animation-delay: 3s"></div>
					<div class="circle" style="animation-delay: 4s"></div>
				</div>
				<p class="ion-text-center">
					<ion-label class="cardheading">CHARGING ON {{dev.DeviceID}}</ion-label>
				</p>
			</ion-col>
			<ion-col size="12">
				<ion-item lines="none" color="transparent">
					<ion-label>Consumption</ion-label>
					<ion-label class="cardheading ion-text-right"> {{dev.TCON}}
						<small>Watt</small>
					</ion-label>
				</ion-item>
			</ion-col>
			<ion-col size="12">
				<ion-item lines="none" color="transparent">
					<ion-label>Amount</ion-label>
					<ion-label color="success" class="cardheading ion-text-right"> ₹ {{dev.AMOUNT | currency:"":""}} </ion-label>
				</ion-item>
			</ion-col>
			<ion-col size="12">
				<ion-item lines="none" color="transparent">
					<ion-label>Port No</ion-label>
					<ion-label color="danger" class="cardheading ion-text-right"> {{dev.PLUG}} </ion-label>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-button class="cardBtn" (click)="stopCharging(dev)" expand="block" color="primary">
			Stop Charging
		</ion-button>
	</ion-card-content>
	<ion-card-content mode="md" *ngIf="!this.service.networkIsConnected" class="borderCard" style="margin-top: 80px;">
		<ion-card-header>
			<ion-card-title>No Internet</ion-card-title>
		</ion-card-header>
	</ion-card-content>
	<!-- <ion-header>
		<ion-toolbar color="primary">
			<ion-title>Charging Information</ion-title>
			<ion-buttons slot="end">
				<ion-label *ngIf="this.service.balance">
					Balance
					<ion-chip style="color: white"> ₹ {{this.service.balance}}</ion-chip>
				</ion-label>
			</ion-buttons>
		</ion-toolbar>
	</ion-header> -->
	<!-- 
	<ion-content *ngIf="this.service.networkIsConnected"> -->
	<!-- <div style="margin-top: 5%">
			<ion-item lines="none" class="ion-text-center devicediv">
				<div class="userimg">
					<ion-thumbnail slot="start">
						<img src="../assets/icon/bettery.svg" />
					</ion-thumbnail>

					<h2>Charging Information</h2>
				</div>
			</ion-item>
		</div> -->

	<!-- <div *ngIf="availableDevices"> -->
	<!-- <div style="margin-bottom: 18%;">
		<div *ngIf="!service.availableDevicessss" class="ion-text-center">
			<h5> Currently you don’t have any ongoing charging sessions </h5>
		</div>
		 <ion-card *ngFor="let dev of service.availableDevicessss;">
			<ion-row>
				<ion-col size="12">
					<ion-item lines="none" class="w100">
						<ion-icon name="phone-portrait-outline"></ion-icon>
						<ion-label>
							Device Name :
							<span>{{dev.DeviceID}} </span>
						</ion-label>
					</ion-item>
					<div class="animation">
						<div class="item">
							<ion-icon name="flash"></ion-icon>
						</div>
						<div class="circle" style="animation-delay: 0s"></div>
						<div class="circle" style="animation-delay: 1s"></div>
						<div class="circle" style="animation-delay: 2s"></div>
						<div class="circle" style="animation-delay: 3s"></div>
					</div>

					<ion-item lines="none" class="w100">
						<ion-icon name="battery-half-outline"></ion-icon>
						<ion-label>Current Status :
							<span>{{this.service.chargingStatus}} </span>
						</ion-label>
					</ion-item>

					<ion-item lines="none" class="w100">
						<ion-icon name="flash-sharp"></ion-icon>
						<ion-label>Current Consumption :
							<span>{{dev.CON}} Watt </span>
						</ion-label>
					</ion-item>

					<ion-item lines="none" class="w100">
						<ion-icon name="battery-charging-outline"></ion-icon>
						<ion-label>Total Consumption :
							<span>{{dev.TCON}} Watt</span>
						</ion-label>
					</ion-item>
					<ion-item lines="none" class="w50">
						<ion-icon name="cash-outline"></ion-icon>
						<ion-label>Amount :
							<span> ₹ {{dev.AMOUNT}}</span>
						</ion-label>
					</ion-item>

					<ion-item lines="none" class="w50">
						<ion-icon src="../../assets/icon/usb-port.svg" name="bicycle-outline"></ion-icon>
						<ion-label> Port Used :
							<span>{{dev.PLUG}} </span>
						</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<div class="ion-margin">
				<ion-button (click)="stopCharging(dev)" *ngIf="dev.showButton" expand="block" color="danger">
					Stop Charging
				</ion-button>
			</div>
		</ion-card>
	</div> -->
</ion-content>
<!-- 
<ion-content *ngIf="!this.service.networkIsConnected">
	<ion-card>
		<ion-card-header class="ion-text-center">
			<ion-card-title>No Internet</ion-card-title>
		</ion-card-header>
	</ion-card>
</ion-content> -->
