.walletcard {
    border-radius: 10px;
    background-color: #6a981c;
  }
  ion-card-title {
    color: #ffffff;
    text-align: center;
  }
  ion-note {
    color: #ffffff;
  }
  ion-card-header {
    padding: 10px 0px 0px 0px;
  }
  .balance {
    font-size: 17px;
  }
  .amount {
    font-size: 22px;
    font-weight: 500;
  }
  .walleticon {
    position: ABSOLUTE;
    right: 15px;
    top: 15px;
  }
  .history {
    font-size: 14px;
    color: #86979f;
    margin: 10px;
  }
  .card {
    --background: #ffffff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
      rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  }
  .walletlefticon {
    background-color: #d8d8d8;
    border-radius: 50%;
  }
  .walletlefticon img {
    padding: 5px;
    height: 35px;
  }
  
  .walleticon img {
    height: 65px;
    opacity: 0.8;
  }
  
  ion-toolbar {
    --ion-background-color: #ffffff;
    --ion-color-base: #ffffff !important;
  }
  
  ion-toolbar ion-title {
    color: #1d1d1d !important;
    font-weight: 500;
  }
  ion-toolbar ion-button {
    color: #1d1d1d !important;
    background-color: #d8d8d8;
    border-radius: 5px;
  }
  